*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins" , sans-serif;
    background-color: #000;
    color: #fff;
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.content .contact h2{
    /* font-size: 36px; */
    font-weight: 500;
    color: #fff;
}
.content .contact p{
    font-weight: 300;
    color: #fff;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
     
}
.container .contactinfo{
    width: 50%;
    display: flex;
    flex-direction: column;

}
.container .contactinfo .box
{
   position: relative;
   padding: 20px 0;
   display: flex;
}
.container .contactinfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 22px;

}
.container .contactinfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 20px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;

}
.container .contactinfo .box .text h3{
    /* font-weight: 500; */
    color: #00bcd4;
}
.contactform{
    width: 40%;
    padding: 40px;
    background: #fff;
    border: 1px solid black;
    background-color: #f48a1d;

}
.contactform h2{
    /* font-size: 30px; */
    color: #333;
    font-weight: 500;
}
.contactform .inputbox{
    position:relative;
    width: 100%;
    margin-top: 10px;
}
.contactform .inputbox input{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: blue;
    resize: none;
    outline: orangered;
}

footer{
    background-color: rgb(39, 33, 33);
    text-align: center;
    color: #fff;
}











